<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/todo.css">
    <script src="/js/home/todo.js" defer></script> <!-- defer vs async-->
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <p id="displayname">TodoList</p>
          <form class="login-form">
            <input type="checkbox" id="a1" />
            <label for="a1"><span></span>할 일 입니다.</label><br>
            <input type="checkbox" id="a2"/>
            <label for="a2"><span></span>할 일 입니다.</label><br>
            <input type="checkbox" id="a3"/>
            <label for="a3"><span></span>할 일 입니다.</label>
            <input id="todoWhat" type="text" placeholder="할 일을 입력해보세요."/>
            <p id="button">할 일 추가</p>
            <p class="message">If you done, <a href="/logout">LOGOUT</a></p>
          </form>
        </div>
      </div>
</body>
</html>


<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->